Package: bbb-lti
Version: 1:2.3.0-5
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 47257
Depends: unzip, bbb-web
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton endpoint for LTI
