Package: bbb-lti
Version: 1:2.5-10
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 90824
Depends: unzip, bbb-web
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton endpoint for LTI
