Package: bbb-apps
Version: 1:2.2.0-48
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 35936
Depends: bbb-red5
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton applications for Red5
