Package: bbb-demo
Version: 1:2.3.0-2
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 1939
Depends: unzip, tomcat8
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton API demos
