Package: bbb-html5
Version: 1:2.4.0-2343
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 397145
Depends: bbb-webrtc-sfu,bc,yq,bbb-etherpad,bbb-web,bbb-learning-dashboard
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The HTML5 components for BigBlueButton
