Package: bbb-html5
Version: 1:2.2.0-960
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 137570
Depends: bbb-webrtc-sfu,bbb-apps-video-broadcast,yq,bbb-etherpad
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The HTML5 components for BigBlueButton
