Package: bbb-webrtc-sfu
Version: 1:2.3.0-16
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 10540
Depends: git-core,nginx,kurento-media-server,openh264-gst-plugins-bad-1.5,bbb-apps-akka,nodejs,npm,build-essential,yq,xmlstarlet
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton WebRTC SFU
