Package: bbb-red5
Version: 1:1.0.10-16
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 29566
Depends: openjdk-8-jre-headless|default-jre-headless,jsvc
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The Red5 server for BigBlueButton
