Package: bbb-config
Version: 1:2.3.0-29
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 2713
Depends: netcat-openbsd,bbb-html5,bbb-playback-presentation,bbb-playback,bbb-freeswitch-core,bbb-fsesl-akka,bbb-apps-akka
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton configuration utilities
