Source: bbb-fsesl-akka
Package: bbb-fsesl-akka
Version: 2.4.0-19
Section: java
Priority: optional
Architecture: all
Installed-Size: 48939
Depends: java8-runtime-headless, bash, bbb-freeswitch-core
Maintainer: Richard Alam <ritzalam@gmail.com>
Description: BigBlueButton FS-ESL (Akka)
 BigBlueButton FreeSWITCH ESL in Akka.
