Source: bbb-fsesl-akka
Package: bbb-fsesl-akka
Version: 2.3.0-11
Section: java
Priority: optional
Architecture: all
Installed-Size: 48564
Depends: java8-runtime-headless, bash
Maintainer: Richard Alam <ritzalam@gmail.com>
Description: BigBlueButton FS-ESL (Akka)
 BigBlueButton FreeSWITCH ESL in Akka.
