Source: bbb-fsesl-akka
Package: bbb-fsesl-akka
Version: 2.5-22
Section: java
Priority: optional
Architecture: all
Installed-Size: 56478
Depends: java11-runtime-headless, bash, bbb-freeswitch-core
Maintainer: Richard Alam <ritzalam@gmail.com>
Description: BigBlueButton FS-ESL (Akka)
 BigBlueButton FreeSWITCH ESL in Akka.
