Package: bbb-playback-presentation
Version: 1:2.2.0-31
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 2788
Depends: bbb-record-core,yq
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBluebutton playback of presentation
