Package: bbb-apps-sip
Version: 1:2.2.0-11
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 35669
Depends: bbb-red5
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton SIP module for Red5
