Package: bbb-mkclean
Version: 1:2.5-1
License: unknown
Vendor: none
Architecture: amd64
Maintainer: <@c17815569218>
Installed-Size: 589
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: Clean and optimize Matroska and WebM files
