Package: bbb-mkclean
Version: 1:0.8.7-3
License: unknown
Vendor: @b412b81cde18
Architecture: amd64
Maintainer: <@b412b81cde18>
Installed-Size: 550
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: Clean and optimize Matroska and WebM files
