Package: bbb-mkclean
Version: 1:2.5-5
License: unknown
Vendor: none
Architecture: amd64
Maintainer: <@c39ce6150977>
Installed-Size: 569
Section: default
Priority: extra
Homepage: http://example.com/no-uri-given
Description: Clean and optimize Matroska and WebM files
