Source: bbb-apps-akka
Package: bbb-apps-akka
Version: 2.5-27
Section: java
Priority: optional
Architecture: all
Installed-Size: 58070
Depends: java11-runtime-headless, bash
Maintainer: Richard Alam <ritzalam@gmail.com>
Description: BigBlueButton Apps (Akka)
 BigBlueButton Core Apps in Akka.
