Source: bbb-apps-akka
Package: bbb-apps-akka
Version: 2.4.0-30
Section: java
Priority: optional
Architecture: all
Installed-Size: 49862
Depends: java8-runtime-headless, bash
Maintainer: Richard Alam <ritzalam@gmail.com>
Description: BigBlueButton Apps (Akka)
 BigBlueButton Core Apps in Akka.
