Package: bbb-swftools
Version: 1:0.9.2-2
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 8360
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The swftools files for BigBlueButton
