Package: bbb-playback
Version: 1:2.4.0-8
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 3550
Depends: bbb-record-core
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton playback
