Package: bbb-etherpad
Version: 1:2.4.0-3
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 119915
Depends: yq,tidy
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The EtherPad Lite components for BigBlueButton
