Package: bbb-etherpad
Version: 1:2.3.0-41
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 120085
Depends: yq,tidy
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: The EtherPad Lite components for BigBlueButton
