Package: bbb-check
Version: 1:2.2.0-5
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 21649
Depends: nginx
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: Client check package for BigBlueButton
