Package: bbb-playback-podcast
Version: 1:2.4.0-2
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 12
Depends: bbb-record-core
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBluebutton playback in podcast
