Package: bbb-playback-podcast
Version: 1:2.5-6
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 12
Depends: bbb-record-core, yq (>= 3), yq (<< 4)
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBluebutton playback in podcast
