Package: bbb-webhooks
Version: 1:2.2.0-19
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 18060
Depends: nodejs,npm,yq
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton Webhooks
