Package: bbb-webhooks
Version: 1:2.5-10
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 18761
Depends: nodejs,npm, yq (>= 3), yq (<< 4)
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton Webhooks
