Package: bbb-web
Version: 1:2.2.0-135
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 126081
Depends: zip,unzip,imagemagick,redis-server,xpdf-utils,libreoffice,ttf-mscorefonts-installer|msttcorefonts|ttf-liberation,psmisc,fonts-crosextra-carlito,fonts-crosextra-caladea,fonts-noto
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton API
