Package: bbb-web
Version: 1:2.5-15
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 121853
Depends: zip,unzip,imagemagick,redis-server,xpdf-utils,bbb-libreoffice-docker,psmisc,fonts-crosextra-carlito,fonts-crosextra-caladea,fonts-noto,openjdk-8-jdk
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton API
