Package: bbb-libreoffice-docker
Version: 1:2.4.0-1
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 2
Depends: iptables,bbb-record-core,fonts-arkpandora,fonts-crosextra-carlito,fonts-crosextra-caladea,fonts-noto,fonts-noto-cjk,fonts-liberation,fonts-arkpandora
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton setup for LibreOffice running in docker
