Package: bbb-libreoffice-docker
Version: 1:2.3.0-6
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 2
Depends: iptables,bbb-record-core
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton setup for LibreOffice running in docker
