Package: bbb-freeswitch-core
Version: 2:2.2.0-109
License: unknown
Vendor: BigBlueButon
Architecture: amd64
Maintainer: ffdixon@bigbluebutton.org
Installed-Size: 68880
Depends: xmlstarlet,libfreetype6,libcurl3,libspeex1,libspeexdsp1,libopus0,libopusfile0,libopusenc0,libsndfile1,liblua5.2-0,libjbig0,libldns1,bbb-freeswitch-sounds
Section: default
Priority: extra
Homepage: http://bigbluebutton.org/
Description: BigBlueButton build of FreeSWITCH
